
/* SAIBA ANTES SECTION */
.saiba-antes h1{
    color: #4B4B4B;
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;

}
.saiba-antes h1::after{
   content: "";
   width: 40px;
   background: #FF4445;
   height: 3px;
   display: block;
   margin: 0 auto;
   margin-top: 21px;
   margin-bottom: 28px;
}
.saiba-antes p{
    font-size: 16px;
    color:#666666;
    margin-bottom: 24px;
}

.saiba-antes input{
    border-radius: 4px;
    padding: 17.6px 20.71px 12.94px 20.17px;   
    max-height: 46px;
    border: none;
    box-shadow: 0px 2px 0px 0px #0000001A;
    background: #fff;
    color: #5A5D67;
    font-size: 14px;
    grid-area: 1/1;
    outline-color: #ff4445;
    width: 431px;
   
}

.saiba-antes button{
    border-radius: 4px;
    max-height: 46px;
    width: 134px;
    background:#FF4445;
    color: #fff;
    margin-left: 11px;
    font-size: 12px;
    letter-spacing: 0.923077px;
    padding: 15px 26px;
}
.saiba-antes button:hover{
    background: #BB140F;
    color: #fff
}
.saiba-antes button span{
   
    color: #E42722;
    background: #fff;
    border-radius: 50%;
    margin-left: 5px;
    padding: 3.97px 4.28px 4.28px 5.85px;
}
.saiba-antes .input-group{
       flex-wrap: nowrap; 
}
.saiba-antes .message{
    margin-top: 13px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 700;
}
.saiba-antes.msg-success .message{
    color: #57AD68;
}
.saiba-antes.msg-success input{
    box-shadow: 0px 2px 0px 0px #57AD68;
}

.saiba-antes.msg-error .message{
    color: #FF4445;
}
.saiba-antes.msg-error input{
    box-shadow: 0px 2px 0px 0px #FF4445;
    color: #ff4445;
}
.saiba-antes.msg-error input::placeholder{
    color: #FF4445
}
.input-group-saiba-antes{
    display: grid; 
}

.input-group-saiba-antes img{
    grid-area: 1/1;
    justify-self: end;
    align-self: center;
    padding-right: 12.15px;
    display: none;
}
.saiba-antes.msg-success .input-group-saiba-antes img{
    display: block;
}
@media (max-width: 767px){
    .saiba-antes button{
        max-width: 100px;
        margin-left: 9px;
    }
    .saiba-antes input{
       
        padding: 17px 19px 13px 19px;
        
        width: 229px;
    }
   
    .saiba-antes h1::after{
       
        margin-top: 20px;
        margin-bottom: 22px;
     }
}
@media (max-width: 375px){

    .saiba-antes input{
       
        padding: 17px 19px 13px 19px;
        
        width: 100%;
    }
   
}