/* SABIN ACESSO RÃPIDO */

.sabin-acesso-rapido img{
    max-width: 50px;
}
.sabin-acesso-rapido a{
    text-decoration: none;
    display: block;
}
.card-sabin-acesso-rapido{
    background-color: #4B4E55;
    padding: 44px 23px;
    border-radius: 4px;
}
.card-sabin-acesso-rapido:hover{
    background-color: #2C2C2C;
}
.card-sabin-acesso-rapido > div{
   display: flex;
   align-items: flex-start;
}
.card-sabin-acesso-rapido img{
    margin-right: 16px;

}
.card-sabin-acesso-rapido h2{
    color: #fff;
    font-size: 20px;
    margin: 0;
}
.card-sabin-acesso-rapido p{
    color: #FFFFFFB2 ;
    font-size: 14px;
    margin: 0
}
.card-sabin-acesso-rapido h2::after{
    content: '';
    display: block;
    height: 2px;
    width: 40px;
    background-color:  #FF4445;
    margin: 20px 0;
}

@media (max-width: 767px){
    .card-sabin-acesso-rapido > div{
        flex-direction: row !important;
        
    }
    .card-sabin-acesso-rapido{
        padding: 20px 30px
    }
    .card-sabin-acesso-rapido img{
        margin-bottom: 0px;
        margin-right: 30px;
    }
    .card-sabin-acesso-rapido p{
        display: none;
    }
    .card-sabin-acesso-rapido h2{
        font-size: 16px;
    }
    .card-sabin-acesso-rapido h2::after{
        margin: 10px 0 0 0;
    }
    .sabin-acesso-rapido .mt-4{
        margin-top: 9px !important;
    } 
    
}
@media (max-width: 1200px){
 .card-sabin-acesso-rapido > div{
     flex-direction: column;
 }
 .card-sabin-acesso-rapido > div img{
    margin-bottom: 20px;
}
}