/* BLOG SABIN ALERTAS */
.alert .alert-content{
    color: #fff;
    display: flex;
    align-items: center;
    padding: 30px 180px 30px 30px ;
    position: relative;
    justify-content: center;
    
    
}
.alert{
    max-width: 100%;
    border-radius: 0px !important;
}
.alert img:first-child{
    width: 52px;
    margin-right: 41px;
}
.alert h4{
    margin-bottom: 7px;
    font-weight: 700;
}
.alert p{
    font-weight: 400;
    margin: 0;
    max-width: 800px;
}
.alert h4,.alert p{
    font-size: 16px;
}
.alert.warning{
    background-color: #FF8744;
}
.alert.success{
    background-color: #3E8FC1;
}
.alert.error{
    background-color: #FF4445;
}
.alert.info{
    background-color: #5A5D67;
}
.alert .times{
    cursor: pointer;
    margin-left: 90px;
    height:25px;
    width:25px
}
@media (max-width: 767px){
    .alert .alert-content{
        flex-direction: column;
        padding: 20px;
    }
    .alert img:first-child{
        align-self: center;
    }
    .alert .times{
        position: absolute;
        right:20px;
        top:20px
    }
}





#csp-PREVIEW {
    background: #5a5d67;
    box-shadow: none !important;
}
.csp.csp-wrap {
   padding-right: 250px !important;
   display: flex !important;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
} 
.csp .csp-close-btn {
     position: initial !important; 
}
.csp .csp-inner p {
    max-width: 800px;
}

 .csp.csp-wrap .col-md-2 {
    flex: 0 0 10% !important;
    max-width: 10% !important;
	 margin-right:15px
}
@media (max-width: 1024px){
    .csp.csp-wrap {
        padding: 20px 140px 20px 20px !important
    } 
}

@media (max-width: 767px){
    .csp.csp-wrap {
         padding: 20px !important
    } 
    .csp .csp-close-btn {
       align-self: start;
       margin-top: 20px;
   }
	 .csp.csp-wrap img {
         margin-bottom : 20px
    } 
	
}