
/* BLOG SABIN SECTION */

.blog-sabin .card{
    
    border: none;
    background-color: transparent;
}


.blog-sabin .btn{
    border: solid #FF4445 1px;
    color:#FF4445;
    font-size: 14px;
    cursor: pointer;
    padding: 10px 50px !important;
    border-radius: 4px !important;
}
.blog-sabin .btn:hover{
   color: #fff;
   background-color: #BB140F;
}
.blog-sabin h1{
    font-size: 30px;
    color:#41434B;
    margin-bottom: 30px;
}
.blog-sabin h4{
    color: #2C2C2C;
    font-size: 14px;
}
.blog-sabin h4::after{
  content: '';
  display: block;
  background-color:#FF4445;
  margin-top: 11.28px;
  margin-bottom: 16.72px;
  width: 45px;
  height: 2px
}
.blog-sabin h2{
    color:#4B4B4B;
    font-size:25px;
    margin-bottom: 20px;
    font-weight: 700;
}

.blog-sabin p{
    color:#666666;
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 15px !important;
}
.blog-sabin small{
    display: flex;
    align-items: center;
    color:#8C8C8E;
    font-size:12px;
}
.blog-sabin .icons-sabin small:first-child{
   margin-right: 10px;
   margin-top: 20px;
   margin-bottom: 20px;
}
.blog-sabin small:first-child span{
    margin-left:4px;
    color:#FF4445;
 }

.blog-sabin small img{
    width: 15px;
    height: 15px;
    margin-right: 7px
}
.blog-sabin small:first-child img{
    height: 14.96px;
}
.blog-sabin .d-flex{
    margin: 20px 0;
}

.blog-sabin a{
    text-decoration: none;
}
.blog-sabin-img{
    position: relative;
    height: 230px ;
    width: 100%;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important ;
    box-shadow: 0 32px 34px -34px rgba(0,0,0,0.4) ;
    border-radius: 4px ;
    
}
.blog-sabin-img > small{
    position: absolute;
    bottom: 12px;
    left: 11px;
    background-color: #97A4B1;
    padding:  6px;
    border-radius: 4px;
    
}
.blog-sabin-img span{
    color: #fff !important;
}
.blog-sabin .icons-sabin small:last-child{
     display: none;
     background-color: #97A4B1;
    padding:  6px;
    border-radius: 4px;
}
.blog-sabin .icons-sabin small:last-child span{
    color: #fff;
}
.blog-sabin .card{
    margin-bottom: 20px;
}
@media (max-width:767px){
    .blog-sabin .blog-sabin-img{
        display: none;
    }
    .blog-sabin .icons-sabin small:last-child{
        display: block;
        margin: 10px 0
   }
   .blog-sabin .icons-sabin{
       display: flex;
       flex-direction: column;
       align-items: flex-start ;
       justify-content: flex-start ;
   }
   .blog-sabin .icons-sabin small:first-child{
   margin-top: 22px;
   margin-bottom: 0px;
}
    .blog-sabin .card{
        border-radius: 0;
    }
    .blog-sabin .card + .card{
        border-top: 1px solid #979797;
        margin-top: 20px !important;
        margin-bottom: 0 !important;
    }
    .blog-sabin  .card{
        margin-bottom: 0 !important;
    }
    .blog-sabin .btn{
        display: none;
     }

}